.hello {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: orange;
  }

  .text {
    color: $brand;
    height: 50px; // ...TODO
    font-size: 30px; // ...TODO
  }
}
